*{
    margin: 0;
    padding: 0;
    font-family: 'Afacad', system-ui, sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #ffffff;
    color: #111111;
}
.container{
    padding:10px 10%;
}

/* ---------------- white bg specifics ---------- */

.name{
    font-size: 30px;
    font-family: 'Afacad', 'Mukta', system-ui, sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: #000;
}
nav ul li a{
    color: #474747;
    text-decoration: none;
    font-size: 18px;
    font-weight: 200;
}
nav ul li a:hover{
    color: #000;
}
.header-text p{
    margin-top: 50%;
    align-items: center;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
}
/* --------- button ---------- */
.button{
    display: block;
    margin: 10px auto;
    width: fit-content;
    border: 1px solid #d2d2d2;
    padding: 13px 80px;
    border-radius: 50px;

    text-decoration: none;
    color: #d2d2d2;
}

.button:hover{
    color: #fff;
    border: 1px solid #ffffff;
}

/* ------------------- work page --------------------- */

.work-page{
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* --------- about --------- */

#about{
    padding: 20px 0;
}

/* ------- center form -------- */
.center-form{
    align-items: center;
    text-align: center;
}
.center-form .title h2{
    /* margin-bottom: 1%; */
    text-align: center;
}
.center-form .date p{
    margin-bottom: 1%;
    text-align: center;
}
.row{
    display: flex;
    justify-content: space-evenly;
}
.about-col-1{
    color:#000;
}
/* .about-col-1 img{
    width: 400px;
    height: auto;
} */
.about-col-2{
    flex-basis: 35%;
}

.title h2{
    font-family: 'Montserrat', system-ui, sans-serif;;
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    letter-spacing: +2px;
}
.date p{
    font-family: 'Afacad', 'Roboto', system-ui, sans-serif;
    font-size: 16px;
    font-weight: 200;
    margin: 10px 0px;
    color: #5b5b5b;
    position: relative; /* Ensure the title is positioned relative to its container */
}

.subtitle p{
    display: block;
    font-family: 'Montserrat', 'Times New Roman', system-ui, sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: +1px;
    margin-bottom: 1%;
    margin-top: 8%;
    position: relative; /* Ensure the title is positioned relative to its container */
    /* background: #ae2c2c; */
}

.work-desc a{
    font-family: 'Afacad', 'Roboto', system-ui, sans-serif;
    font-size: 16px;
    font-weight: 200;
    color: #000;
    position: relative; /* Ensure the title is positioned relative to its container */
}